nav
  img(src='assets/images/p.svg')
  h3 Andover/Exeter 2016
  a(class='menu', href='')
  ul
    li
      img(src='assets/images/p.svg')
    li
      a(href='/') The Rivalry
    li
      a(href='/team-previews.html') Team Previews
    li
      em #[a(href='http://phillipian.net') The Phillipian]
