div.photos
  div
    div.photo
      img(src='assets/images/'+photoLeft)
    span.credit #{creditLeft}
    span.caption #{captionLeft}
  div
    div.photo
      img(src='assets/images/'+photoRight)
    span.credit #{creditRight}
    span.caption #{captionRight}
