$off-white: #F2F2F2;

span.credit {
  text-align: right;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #949494;
  font-weight: 300;
  width: 100%;
  font-size: 12px;
  display: block;
}
