article {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
  margin-bottom: 75px;
  border-top: 2px solid black;

  &:first-child {
    margin: 25px 0 70px 0;
    border-top: none;
  }

  h3 {
    padding: 50px 0 30px 0;
    font-size: 35px;
  }

  h3 + h5 {
    margin-top: -30px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 18px;
    color: #444444;

    &:first-child {
      margin-top: 50px;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  h3 + p {
    margin-top: 0;
  }

  p:first-child::first-letter {
    float: left;
    font-size: 80px;
    line-height: 40px;
    padding-top: 14px;
    padding-right: 4px;
    padding-bottom: 4px;
  }

  .quote {
    text-align: center;
    padding: 70px 0;

    blockquote {
      color: black; // #021F42; //#1053C8;
      font-size: 50px;
      line-height: 60px;
      font-weight: 700;
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    span.speaker {
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      color: black; // #021F42; //#1053C8;
      font-weight: 700;
      margin-top: 30px;
      letter-spacing: 2px;
    }
  }
}

@media only screen and (max-width : 640px) {
  .quote {
    blockquote {
      width: 100% !important;
      margin-bottom: 10px;
      font-size: 30px !important;
      line-height: 35px !important;
    }
  }
}
