footer {
  height: 100px;
  max-height: 100px;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  background-color: #F2F2F2;
  display: none;

    &.shadow {
      -webkit-box-shadow: 0 1px -15px 0px #bfbfbf;
      -moz-box-shadow: 0 1px -15px 0px #bfbfbf;
      box-shadow: 0 1px -15px 0px #bfbfbf;
      -webkit-box-shadow: 0 1px -10px 1px rgba(0,0,0,0.2);
      -moz-box-shadow: 0 1px -10px 1px rgba(0,0,0,0.2);
      box-shadow: 0 1px -10px 1px rgba(0,0,0,0.2);
      border: none;
    }
}
