@import "reset";
@import "shared";
@import "https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:700,900";

body {
  background-color: white;
  font-family: 'Times New Roman', 'Times', serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

main {
  margin-bottom: 100px;
}

@import "nav";
@import "header";
@import "banner";
@import "inline";
@import "article";
@import "photos";
@import "footer";
