nav {
  max-height: 60px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: black;// #021F42; //#F2F2F2;
  font-family: 'Lato', sans-serif;

  img {
    display: none;
    margin: 15px auto;
    max-height: 30px;
  }

  a.menu {
    display: none;
    width: 30px;
    height: 30px;
    background: url(../images/menu.svg) center center no-repeat;
    background-size: 100%;
    opacity: .7;
    top: 15px;
    right: 15px;
    position: absolute;
  }

  h3 {
    display: none;
    color: white;
    font-family: 'Lato', sans-serif;
    line-height: 60px;
    margin-left: 15px;
  }

  &.shadow {
    -webkit-box-shadow: 0 1px 15px 0px #bfbfbf;
    -moz-box-shadow: 0 1px 15px 0px #bfbfbf;
    box-shadow: 0 1px 15px 0px #bfbfbf;
    -webkit-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.2);
    border: none;
  }

  li {
    width: 25%;
    max-height: inherit;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.2px;
    overflow: auto;

    a {
      text-decoration: none;
      color: white;
    }

    &:first-child {
      padding: 0;
    }

    img {
      display: block;
      margin: 15px auto;
      max-height: 30px;
    }
  }
}


@media only screen and (max-width : 640px) {
  nav {
    height: 60px !important;

    img {
      display: inline-block;
      margin-left: 15px;
    }
  }

  nav a.menu {
    display: block;
  }

  nav h3 {
    display: inline-block;
    top: 0;
    position: absolute;;
  }

  nav ul, nav:active ul {
    border-top: 1px dotted white;
    display: none;
    position: absolute;
    background: rgba(black, 1);
    top: 60px;
    width: 100%;
  }

  nav ul li {
    text-align: center;
    float: left;
    width: 100%;
    margin: 0;
  }

  nav ul li:first-child {
    display: none;
  }

  nav:hover ul, nav a.menu:hover ul, nav a.menu:active ul {
    display: block;
  }
}
