.photos {
  width: 100%;
  margin: 40px auto;

  div {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;

    &:first-child {
      padding-right: 2%;
    }
    &:last-child {
      padding-left: 2%;
    }

    span.caption {
      padding: 10px 0 10px 0;
      width: 100%;
      border-bottom: 2px solid black;
      display: block;
    }

    .photo {
      width: 100%;

      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width : 640px) {
  .photos {
    div {
      width: 100%;
      padding: 0;
      display: block;

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}
