section.banner {
  padding-top: 30px;
  border-top: 10px solid black;
  padding-bottom: 20px;
  box-sizing: border-box;

  .frame {
    height: 600px;
    overflow: hidden;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      bottom: 0;
      position: absolute;
    }

    &.bottom {
      img {
        bottom: -400;
      }
    }
  }

  p {
    padding: 0 15px;
    text-align: center;
  }

  span.credit {
    padding-right: 5px;
  }
}

@media only screen and (max-width : 640px) {
  section.banner {
    padding-top: 10 !important;
    .frame {
      height: 200px;
    }
  }
}
